.message {
    padding: 10px;
    margin: 10px;
    width: fit-content;
    border-radius: 30px;
}

.message_user {
    margin-left: auto;
    color: "white";
    text-align: left !important;
    border-radius: 30px;
}

.message_userCard {
    background-color: #0b81ff !important;
    width: fit-content;
    border-radius: 30px;
}

.message_guestCard {
    background-color: white!important;
    width: fit-content;
    border-radius: 30px;
}

.message_format {
    font-size: small;
    border-radius: 30px;
}